################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rassef/Models/Identity/Group.cs
/.vs/slnx.sqlite-journal
/Rassef/Views/QueueTicket/viewRole.cshtml
